snippet zone "Add DNS zone in named.conf" !b
zone "${1:.}" {
    type ${2:hint}
    file "/etc/bind/db.`!p
if t[1] == ".":
    snip.rv = "root"
else:
    snip.rv = '.'.join(t[1].split('.')[::-1])`"
};
endsnippet
